<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="ConsoleApp" class="ch.qos.logback.core.ConsoleAppender">
  	<Target>System.err</Target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5p]: %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>
  
  <!-- 
 		The path specified here is overridden by the -r option and the log file name that is created has a timestamp postfix
		(something like biosd_loader_date_hour.log).
		If you don't want this behaviour (e.g., you want a fixed file name in a fixed location) just use an appender with a 
		different name (or add it, if you want both behaviours).
  -->  
  <appender name="FileApp" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	  	<!-- Rolls up every day -->
      <fileNamePattern>logs/biosd_loader/biosd_loader_%d{yyyyMMdd}.log</fileNamePattern>
  		<!-- Keeps last 3 months -->
      <maxHistory>90</maxHistory>
    </rollingPolicy>
    <encoder>
    	<!-- TODO: %C and %L are useful, but possibly slow, is it worth to ship with these? -->
      <pattern>%d{dd MMM yyyy HH:mm:ss.SSS} [%-6t] [%-5p] \(%C{1},%L\): %m%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ALL</level>
    </filter>
  </appender>

  
	<!-- Minimal logging by default. WARNING: logback expects this to be put after the appenders! -->
  <root level="WARN">
    <appender-ref ref="ConsoleApp" />
    <!-- TODO: Add log file management (-r option) -->
    <appender-ref ref="FileApp" />
  </root>

	<!-- Add Loggers this way if you want finer reports for selected components -->
  <logger name = 'uk.ac.ebi.fg' level = 'INFO' />
  <!-- logger name = 'org.hibernate.SQL' level = 'TRACE' />
  <logger name = 'org.hibernate.hql' level = 'TRACE' />  
  <logger name = 'org.hibernate.type' level = 'TRACE' / -->
    
</configuration>
